<div class="keyboard">
  <div class="keyboard-row">
    <app-key label="Q">Q</app-key>
    <app-key label="W">W</app-key>
    <app-key label="E">E</app-key>
    <app-key label="R">R</app-key>
    <app-key label="T">T</app-key>
    <app-key label="Y">Y</app-key>
    <app-key label="U">U</app-key>
    <app-key label="I">I</app-key>
    <app-key label="O">O</app-key>
    <app-key label="P">P</app-key>
  </div>
  <div class="keyboard-row">
    <app-key label="A">A</app-key>
    <app-key label="S">S</app-key>
    <app-key label="D">D</app-key>
    <app-key label="F">F</app-key>
    <app-key label="G">G</app-key>
    <app-key label="H">H</app-key>
    <app-key label="J">J</app-key>
    <app-key label="K">K</app-key>
    <app-key label="L">L</app-key>
  </div>
  <div class="keyboard-row">
    <app-key label="Enter"><span class="material-icons">done</span></app-key>
    <app-key label="Z">Z</app-key>
    <app-key label="X">X</app-key>
    <app-key label="C">C</app-key>
    <app-key label="V">V</app-key>
    <app-key label="B">B</app-key>
    <app-key label="N">N</app-key>
    <app-key label="M">M</app-key>
    <app-key label="Backspace"><span class="material-icons">backspace</span></app-key>
  </div>
</div>
