<div class="keyboard">
  <div class="keyboard-row">
    <app-key label="Q"></app-key>
    <app-key label="W"></app-key>
    <app-key label="E"></app-key>
    <app-key label="R"></app-key>
    <app-key label="T"></app-key>
    <app-key label="Y"></app-key>
    <app-key label="U"></app-key>
    <app-key label="I"></app-key>
    <app-key label="O"></app-key>
    <app-key label="P"></app-key>
  </div>
  <div class="keyboard-row">
    <app-key label="A"></app-key>
    <app-key label="S"></app-key>
    <app-key label="D"></app-key>
    <app-key label="F"></app-key>
    <app-key label="G"></app-key>
    <app-key label="H"></app-key>
    <app-key label="J"></app-key>
    <app-key label="K"></app-key>
    <app-key label="L"></app-key>
  </div>
  <div class="keyboard-row">
    <app-key label="Back"></app-key>
    <app-key label="Z"></app-key>
    <app-key label="X"></app-key>
    <app-key label="C"></app-key>
    <app-key label="V"></app-key>
    <app-key label="B"></app-key>
    <app-key label="N"></app-key>
    <app-key label="M"></app-key>
    <app-key label="Enter"></app-key>
  </div>
</div>
