<div class="board">
  <div class="game-row">
    <app-letter [row]="1" [position]="1"></app-letter>
    <app-letter [row]="1" [position]="2"></app-letter>
    <app-letter [row]="1" [position]="3"></app-letter>
    <app-letter [row]="1" [position]="4"></app-letter>
    <app-letter [row]="1" [position]="5"></app-letter>
    <app-letter [row]="1" [position]="6"></app-letter>
  </div>
  <div class="game-row">
    <app-letter [row]="2" [position]="1"></app-letter>
    <app-letter [row]="2" [position]="2"></app-letter>
    <app-letter [row]="2" [position]="3"></app-letter>
    <app-letter [row]="2" [position]="4"></app-letter>
    <app-letter [row]="2" [position]="5"></app-letter>
    <app-letter [row]="2" [position]="6"></app-letter>
  </div>
  <div class="game-row">
    <app-letter [row]="3" [position]="1"></app-letter>
    <app-letter [row]="3" [position]="2"></app-letter>
    <app-letter [row]="3" [position]="3"></app-letter>
    <app-letter [row]="3" [position]="4"></app-letter>
    <app-letter [row]="3" [position]="5"></app-letter>
    <app-letter [row]="3" [position]="6"></app-letter>
  </div>
  <div class="game-row">
    <app-letter [row]="4" [position]="1"></app-letter>
    <app-letter [row]="4" [position]="2"></app-letter>
    <app-letter [row]="4" [position]="3"></app-letter>
    <app-letter [row]="4" [position]="4"></app-letter>
    <app-letter [row]="4" [position]="5"></app-letter>
    <app-letter [row]="4" [position]="6"></app-letter>
  </div>
  <div class="game-row">
    <app-letter [row]="5" [position]="1"></app-letter>
    <app-letter [row]="5" [position]="2"></app-letter>
    <app-letter [row]="5" [position]="3"></app-letter>
    <app-letter [row]="5" [position]="4"></app-letter>
    <app-letter [row]="5" [position]="5"></app-letter>
    <app-letter [row]="5" [position]="6"></app-letter>
  </div>
  <div class="game-row">
    <app-letter [row]="6" [position]="1"></app-letter>
    <app-letter [row]="6" [position]="2"></app-letter>
    <app-letter [row]="6" [position]="3"></app-letter>
    <app-letter [row]="6" [position]="4"></app-letter>
    <app-letter [row]="6" [position]="5"></app-letter>
    <app-letter [row]="6" [position]="6"></app-letter>
  </div>
  <div class="game-row">
    <app-letter [row]="7" [position]="1"></app-letter>
    <app-letter [row]="7" [position]="2"></app-letter>
    <app-letter [row]="7" [position]="3"></app-letter>
    <app-letter [row]="7" [position]="4"></app-letter>
    <app-letter [row]="7" [position]="5"></app-letter>
    <app-letter [row]="7" [position]="6"></app-letter>
  </div>
</div>

<app-keyboard></app-keyboard>
